<a href="https://colab.research.google.com/github/shaheerzubery/NLP-/blob/main/DummyVariable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Dummy Variable - Preprocessing Tech

## Import Libraries

In [ ]:
import pandas as pd
import numpy as np

## Data Import

we are using the same dataset which we used to demonstrate Onehotencoding method

In [ ]:
df = pd.read_excel('/content/One hot encoding data_set.xlsx')
df.head()

   Id   Color State
0   1     Red    NY
1   2    Blue    FL
2   3  Purple    CA
3   4     Red    NY
4   5  Purple    CA

here in this data we have two categorical columns (COlor and state)

In [ ]:
colors = pd.get_dummies(df.Color)

In [ ]:
colors

   Blue  Purple  Red
0     0       0    1
1     1       0    0
2     0       1    0
3     0       0    1
4     0       1    0
5     0       0    1
6     1       0    0
7     1       0    0
8     0       0    1
9     0       1    0

So here we have all the colors

we do the same for state as well

In [ ]:
States =pd.get_dummies(df.State)

Now we will merge all the list together

In [ ]:
df_new = pd.concat([df,colors,States] , axis = 1)

In [ ]:
df_new

   Id   Color State  Blue  Purple  Red  CA  FL  NY
0   1     Red    NY     0       0    1   0   0   1
1   2    Blue    FL     1       0    0   0   1   0
2   3  Purple    CA     0       1    0   1   0   0
3   4     Red    NY     0       0    1   0   0   1
4   5  Purple    CA     0       1    0   1   0   0
5   6     Red    CA     0       0    1   1   0   0
6   7    Blue    FL     1       0    0   0   1   0
7   8    Blue    FL     1       0    0   0   1   0
8   9     Red    NY     0       0    1   0   0   1
9  10  Purple    CA     0       1    0   1   0   0

There is One issue with Dummy variables, it is good for less one for example if there are 4 column it is good for three and if it has 3 column it is good for 2

So we can drop it the columns

In [ ]:
final = df_new.drop(['Color', 'Red'], axis = 'columns')

In [ ]:
final = final.drop(['State', 'CA'], axis = 'columns')

In [ ]:
final

   Id  Blue  Purple  FL  NY
0   1     0       0   0   1
1   2     1       0   1   0
2   3     0       1   0   0
3   4     0       0   0   1
4   5     0       1   0   0
5   6     0       0   0   0
6   7     1       0   1   0
7   8     1       0   1   0
8   9     0       0   0   1
9  10     0       1   0   0

To know more about it, Dummy vaiable and Onehotencoding, i'll upload a seperate video in which we will discuss when to use Onehotencoding and dummy variable

##Thankyou for watch